<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Damien Le Borgne</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <!-- Main CSS -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/base/base.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/base/navbar.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/base/lightMode.css') }}">

  {% block head %}{% endblock %}
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav" id="main-menu">
        <li><a class="hoverable" href="/">Home</a></li>
        <li><a class="hoverable" href="{{url_for('projects')}}">Projects</a></li>
        <li><a class="hoverable" href="{{url_for('timeline')}}">Timeline</a></li>
        <!-- <li><a class="hoverable" href="#">Contact</a></li> -->
      </ul>
    </div>
    <div class="buttonDayNight">
      <label for='switchLight'>
        <img id="nightIcon" src="{{ url_for('static', filename = 'images/logo/moon.svg') }}">
      </label>
      <input class='toggle' id='switchLight' type='checkbox'>
      <label class='toggle-button' for='switchLight'></label>
      <label for='switchLight'>
        <img id="dayIcon" class="switchLight" src="{{ url_for('static', filename = 'images/logo/sun.svg') }}">
      </label>
    </div>
  </nav>
  
  {% block body %}{% endblock %}

  <!-- jQuery -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <!-- LightMode -->
  <script src="{{ url_for('static', filename='js/lightMode.js') }}"></script>
  <!-- Extends JS -->
  {% block javascript %}{% endblock %}

</body>

</html>