{% extends "base.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/timeline/timeline.css') }}">
{% endblock %}

{% block body %}
<div class="container" id="timeline">
    <div class="header">
        <h2 class="header-title">LE BORGNE</h2>
        <h3 class="header-subtitle">LIFE's</h3>
    </div>
    <div class="timeline">

        <div class="item" data-text="Stage Ens-PSMN">
            <div class="content"><img class="content-img" src="{{url_for('static', filename = 'images/timeline/psmn.png')}}" />
                <h2 class="content-title">Janvier - Mars 2021</h2>
                <p class="content-short">Ma mission pendant le stage était de mettre à disposition une interface web pour afficher des statistiques sous forme graphique.</p>
            </div>
        </div>

        <div class="item" data-text="Pizza delivery at Pizza Cosy">
            <div class="content"><img class="content-img" src="{{url_for('static', filename = 'images/timeline/cosy.png')}}" />
                <h2 class="content-title">Nov 2020 - Aujourd'hui</h2>
                <p class="content-short">En parallèle de mes études, j'ai commencé un nouveau travail en tant que livreur de pizza. Pour ce métier, il faut être rapide et savoir gérer son temps.</p>
            </div>
        </div>

        <div class="item" data-text="EPSI School">
            <div class="content"><img class="content-img" src="{{url_for('static', filename = 'images/timeline/epsi.png')}}" />
                <h2 class="content-title">2019 - Aujourd'hui</h2>
                <p class="content-short">J'ai intégré cette école parce que le cursus m'intéressait, le fait de pouvoir faire une alternance dès ma 3ème année.</p>
            </div>
        </div>

        <div class="item" data-text="Seller at TURIN&ASSOCIES">
            <div class="content"><img class="content-img" src="{{url_for('static', filename = 'images/timeline/turin.png')}}" />
                <h2 class="content-title">Avril 2019 - Fev 2020</h2>
                <p class="content-short">J'ai travaillé dans la vente de fruits et légumes en parallèle de mes études au lycée, cela m'a permis d'avoir une rémunération et aussi de découvrir le monde professionnel.</p>
            </div>
        </div>

        <div class="item" data-text="Martiniere Monplaisir High School">
            <div class="content"><img class="content-img" src="{{url_for('static', filename = 'images/timeline/martinieremonplaisir.png')}}" />
                <h2 class="content-title">2014-2018</h2>
                <p class="content-short">J'ai eu mon baccalauréat sti2d sin, qui m'a permis d'apprendre les bases de l'informatique dès la classe de première, ce qui a renforcé mon désir de travailler dans l'industrie informatique.</p>
            </div>
        </div>

        <div class="item" data-text="Pablo Picasso Middle School">
            <div class="content"><img class="content-img" src="{{url_for('static', filename = 'images/timeline/pablopicasso.png')}}" />
                <h2 class="content-title">2010-2014</h2>
                <p class="content-short">J'ai fait de la 6ème à la 3ème année au Pablo Picasso pour obtenir le brevet des collèges.</p>
            </div>
        </div>

        {# <div class="item upArrow">
            <div class="content"><img class="content-img" src="{{url_for('static', filename = 'images/timeline/up.png')}}" />
            </div>
        </div> #}
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/timeline.js') }}"></script>
<script>
    $("#timeline").timeline();
</script>
{% endblock %}